*,
*::after,
*::before {
	box-sizing: border-box;
}
html {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	-webkit-text-size-adjust:100%;
	-webkit-tap-highlight-color:transparent;
}
html,
body {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	position: relative;
}
body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
    background-color: #eee;
    background: #eee url(noise-pattern.png) repeat;
    color: #333;
}
header,
nav,
main,
section,
article,
aside,
footer {
	display: block;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
}
ol,
ul {
	list-style: none;
}
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (min-height: 640px) {
    section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
section {
	padding: 0.4rem 1rem;
}
@media (min-width: 576px) {
	section {
		padding: 0.4rem calc((100% - 540px)/2);
	}
}
@media (min-width: 768px) {
	section {
		padding: 0.4rem calc((100% - 720px)/2);
	}
}/*
@media (min-width: 992px) {
	section {
		padding: 0.4rem calc((100% - 960px)/2);
	}
}
@media (min-width: 1200px) {
	section {
		padding: 0.4rem calc((100% - 1140px)/2);
	}
}*/
p,
ul,
ol {
	margin-bottom: 0.5rem;
}
h1 {
	margin-top: 1rem;
	margin-bottom: 0.75rem;
	font-size: 2rem;
	font-weight: 900;
	color: #555;
}
h1 span {
	font-size: 1.5rem;
	color: #666;
}
h2 {
	margin: 0.5rem 0;
	font-size: 1.75rem;
	font-weight: 600;
	color: #555;
}
.directions {
	font-style: italic;
	color: #777;
}
.back-to-top {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 48px;
	width: 48px;
	border-radius: 50%;
	position: fixed;
	bottom: 16px;
	right: 32px;
	background-color: rebeccapurple;
	text-decoration: none;
	font-size: 2.25rem;
	font-weight: 900;
	transform: rotate(-90deg);
}
.back-to-top span {
	display: block;
	pointer-events: none;
	margin-top: -9px;
	color: #fff !important;
}
footer {
	margin-top: 2rem;
    padding: 2rem 1.5rem;
    background-color: #111;
    color: #fff;
    text-align: center;
}
footer a {
    font-weight: 700;
}
