*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
ol {
	list-style: none;
}
html {
	font-size: 16px;
	height: 100%;
	width: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
}
a {
	text-decoration: none;
}
header {
	overflow: hidden;
	position: relative;
}
.circle-nav,
.circle-nav .toggler,
.circle-nav .nav-links,
.circle-nav .nav-links li,
.circle-nav .nav-links a {
	border-radius: 50%;
}
.circle-nav {
	height: 100px;
	width: 100px;
	position: fixed;
	top: 40px;
	right: 40px;
	box-shadow: -4px 4px 16px 4px rgba(255,255,255,0.3);
    transition: transform 0.5s;
    pointer-events: none;
}
.circle-nav .toggler {
	height: 100px;
	width: 100px;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	pointer-events: auto;
    transition: all 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.circle-nav .nav-links {
	height: 600px;
	width: 600px;
	position: absolute;
	z-index: 1;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
}
.circle-nav .nav-links li {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0);
	opacity: 0;
}
.circle-nav .toggler,
.circle-nav .nav-links li:nth-of-type(2n+1) {
	background-color: #fcdb5b;
}.circle-nav.open .toggler,
.circle-nav .nav-links li:nth-of-type(2n) {
	background-color: #fbd747;
}
.circle-nav .nav-links li:nth-of-type(2n) {
	background-color: #fbd747;
}
.circle-nav .nav-links li:nth-of-type(1) {
	height: 200px;
	width: 200px;
	z-index: 5;
}
.circle-nav .nav-links li:nth-of-type(2) {
	height: 300px;
	width: 300px;
	z-index: 4;
}
.circle-nav .nav-links li:nth-of-type(3) {
	height: 400px;
	width: 400px;
	z-index: 3;
}
.circle-nav .nav-links li:nth-of-type(4) {
	height: 500px;
	width: 500px;
	z-index: 2;
}
.circle-nav .nav-links li:nth-of-type(5) {
	height: 600px;
	width: 600px;
	z-index: 1;
}
.circle-nav .nav-links a {
	display: block;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-end;
	transform: rotate(-180deg);
	opacity: 0;
}
.circle-nav .nav-links li,
.circle-nav .nav-links a {
    transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.circle-nav .nav-links li:nth-of-type(1),
.circle-nav .nav-links li:nth-of-type(1) a {
    transition-delay: 0.4s;	
}
.circle-nav .nav-links li:nth-of-type(2),
.circle-nav .nav-links li:nth-of-type(2) a {
    transition-delay: 0.3s;	
}
.circle-nav .nav-links li:nth-of-type(3),
.circle-nav .nav-links li:nth-of-type(3) a {
    transition-delay: 0.2s;	
}
.circle-nav .nav-links li:nth-of-type(4),
.circle-nav .nav-links li:nth-of-type(4) a {
    transition-delay: 0.1s;	
}
.circle-nav .nav-links li:nth-of-type(5),
.circle-nav .nav-links li:nth-of-type(5) a {
    transition-delay: 0s;	
}

/* OPEN STATE */
.circle-nav.open {
	pointer-events: auto;
	transform: translate3d(36px, -36px, 0);
}
.circle-nav.open .toggler {
	transform: rotate(45deg);
	background-color: #fbd747;
	box-shadow: 0 4px 16px 4px rgba(0,0,0,0.5);
}	
.circle-nav.open .nav-links li {
    opacity: 1;
    box-shadow: -4px 4px 32px 8px rgba(0,0,0,0.5);
}
.circle-nav.open .nav-links a {
	transform: rotate(45deg);
	opacity: 1;
}
