section {
	padding: 0 1rem;
}
@media (min-width: 576px) {
	section {
		padding: 0 calc((100% - 540px)/2);
	}
}
@media (min-width: 768px) {
	section {
		padding: 0 calc((100% - 720px)/2);
	}
}
@media (min-width: 992px) {
	section {
		padding: 0 calc((100% - 960px)/2);
	}
}
@media (min-width: 1200px) {
	section {
		padding: 0 calc((100% - 1140px)/2);
	}
}
