body {
    color: #111;
}
a {
    color: #92d2fc;
}
a:hover,
a:focus {
    color: #3e96cf  ;
}

/* Home Page Header */
.hero {
    height: 100%;
    width: 100%;

    position: relative;
}
.hero-image-wrapper,
.hero-shade,
.hero-text {
    position: absolute;
    left: 0;
    width: 100%;
}
.hero-image-wrapper,
.hero-shade {
    top: 0;
    height: 100%;
}
.hero-image-wrapper {
    display: flex;
}
.landscape-hero-images {
    flex: 1 1 0;
}
.hero-image {
    flex: 0 0 100%;
    background: url(../images/samuel_edem__hero.jpg) top center no-repeat fixed;
    background-size: cover;
}
@media (orientation: landscape) {
    .hero-image {
        flex-basis: calc((94vh * 109)/164);
        /* image resolution is 436x656 */
        /* the 94vh is hacky. should be 100vh */
        background: url(../images/samuel_edem__hero.jpg) center center no-repeat fixed;
        background-size: contain;
    }
    .landscape-hero-images {
        display: flex;
    }
    .landscape-hero-images.right {
        flex-direction: row-reverse;
    }
    .landscape-hero-images div {
        background: url(../images/samuel_edem__hero.jpg);
        background-size: contain;
    }
    .landscape-hero-images.left div {;
        background-position: top left
    }
    .landscape-hero-images.right div {
        background-position: top right;
    }
    .landscape-hero-images div.w16 {
        flex-grow: 16;
    }
    .landscape-hero-images div.w15 {
        flex-grow: 15;
    }
    .landscape-hero-images div.w14 {
        flex-grow: 14;
    }
    .landscape-hero-images div.w13 {
        flex-grow: 13;
    }
    .landscape-hero-images div.w12 {
        flex-grow: 12;
    }
    .landscape-hero-images div.w11 {
        flex-grow: 11;
    }
    .landscape-hero-images div.w10 {
        flex-grow: 10;
    }
    .landscape-hero-images div.w09 {
        flex-grow: 9;
    }
    .landscape-hero-images div.w08 {
        flex-grow: 8;
    }
    .landscape-hero-images div.w07 {
        flex-grow: 7;
    }
    .landscape-hero-images div.w06 {
        flex-grow: 6;
    }
    .landscape-hero-images div.w05 {
        flex-grow: 5;
    }
    .landscape-hero-images div.w04 {
        flex-grow: 4;
    }
    .landscape-hero-images div.w03 {
        flex-grow: 3;
    }
    .landscape-hero-images div.w02 {
        flex-grow: 2;
    }
    .landscape-hero-images div.w01 {
        flex-grow: 1;
    }

}
.hero-shade {
    background: linear-gradient(to bottom, #0000 40%, #000c, #000);
}
.hero-text {
    bottom: 0;
    color: #fff;
    padding: 1rem 1.25rem 1.5rem;
    text-align: center;
}
@media (min-height: 640px) {
    .hero-text {
        padding-bottom: 2.5rem;
    }
}
.hero-text h2,
.hero-text li {
    font-family: 'Quicksand', sans-serif;
}
.hero-text h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.hero-text li {
    font-size: 1.25rem;
    letter-spacing: 0.05rem;
}
.hero-text a {
    display: block;
    width: 16rem;
    max-width: 100%;
    margin: 1rem auto 0;

    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 2rem;

    font-size: 1.1rem;
    font-weight: 700;
    font-variant: small-caps;
}
.hero-text a,
.hero-text a:active,
.hero-text a:hover:active,
.hero-text a:focus:active {
    background-color: #dd4d4d;
    background: #dd4d4d url(../vendor/images/noise-pattern.png) repeat;
}
.hero-text a:hover,
.hero-text a:focus {
    background-color: #ff8989;
    background: #ff8989 url(../vendor/images/noise-pattern.png) repeat;
}
.hero-text a:focus { 
    outline: none;
}


/* Site-wide Circular Navigation */
nav {
    display: block;
    position: absolute;
    z-index: 1;
    top: -180px;
    right: -180px;
    width: 500px;
    height: 500px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
nav.open {
    -webkit-transform: translate3d(25px, -25px, 0);
            transform: translate3d(25px, -25px, 0);
}
.disc {
    position: absolute;
    display: inline-block;
    text-align: center;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: 700;
    font-variant: small-caps;
    line-height: 2.5rem;
    color: #fff;
    padding-top: 0.5rem;
    border-radius: 50%;
    pointer-events: none;
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s;
    transition: transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9), opacity 0.5s, -webkit-transform 0.5s cubic-bezier(0.3, 1.4, 0.5, 0.9);
}
.disc div {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
}
.open .disc {
    font-size: 1rem;
    pointer-events: auto;
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 224deg);
            transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 224deg);
    -webkit-box-shadow: -4px 4px 32px 8px rgba(0,0,0,0.5);
       -moz-box-shadow: -4px 4px 32px 8px rgba(0,0,0,0.5);
            box-shadow: -4px 4px 32px 8px rgba(0,0,0,0.5);
}
.disc:nth-of-type(2n+1) {
    background-color: #fbd747;
    background: #fbd747 url(../vendor/images/noise-pattern.png) repeat;
}
.disc:nth-of-type(2n) {
    background-color: #fcdb5b;
    background: #fcdb5b url(../vendor/images/noise-pattern.png) repeat;
}
.disc.disc.l1 {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    transition-delay: 0s;
}
.disc.disc.l2 {
    top: 50px;
    left: 50px;
    right: 50px;
    bottom: 50px;
    transition-delay: 0.1s;
}
.disc.l3 {
    top: 100px;
    left: 100px;
    right: 100px;
    bottom: 100px;
    transition-delay: 0.2s;
}
.disc.l4 {
    top: 150px;
    left: 150px;
    right: 150px;
    bottom: 150px;
    transition-delay: 0.3s;
}
.disc.l5 {
    top: 200px;
    left: 200px;
    right: 200px;
    bottom: 200px;
    transition-delay: 0.4s;
}
.toggle {
    background-color: #fbd232;
    background: #fbd232 url(../vendor/images/noise-pattern.png) repeat;
}

.open .l1 {
    transition-delay: 0s;
}
.open .l2 {
    transition-delay: 0.1s;
}
.open .l3 {
    transition-delay: 0.2s;
}
.open .l4 {
    transition-delay: 0.3s;
}
.open .l5 {
    transition-delay: 0.4s;
}
.open .disc:not(.toggle):hover {
    transition-delay: 0s;
    -webkit-box-shadow: -4px 4px 16px 12px rgba(0,0,0,0.5);
       -moz-box-shadow: -4px 4px 16px 12px rgba(0,0,0,0.5);
            box-shadow: -4px 4px 16px 12px rgba(0,0,0,0.5);
}
.open .disc:active {
    background-color: #0009;
    background: #0009 url(../vendor/images/noise-pattern.png) repeat;
    color: #fff !important;
    -webkit-box-shadow: 4px 4px 16px 4px rgba(0,0,0,0.5);
       -moz-box-shadow: 4px 4px 16px 4px rgba(0,0,0,0.5);
            box-shadow: 4px 4px 16px 4px rgba(0,0,0,0.5);
}
.open .disc:not(.toggle):active {
    color: #dd4d4d;
}
.open .disc:not(.toggle).active {
    color: #9b3636;
}
.open .disc:not(.toggle):hover {
    color: #c74545;
}
.open .disc.toggle {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 44deg);
            transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, 44deg);
    text-align: center;
}
.toggle {
    line-height: 6.5rem;
    padding: 0;
    width: 100px;
    opacity: 1;
    -webkit-transform: none;
            transform: none;
    pointer-events: auto;
    transition-delay: 0s;
    -webkit-box-shadow: -4px 4px 16px 4px rgba(255,255,255,0.3);
       -moz-box-shadow: -4px 4px 16px 4px rgba(255,255,255,0.3);
            box-shadow: -4px 4px 16px 4px rgba(255,255,255,0.3);
}
.toggle:hover {
    color: #fff;
}

/* MAIN on home page */

/* statistics section */
section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
@media (min-height: 640px) {
    section {
        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
}
section .heading {
    text-align: center;
    font-variant: small-caps;
}
.statistics {
    background-color: #dd4d4d;
    background: #dd4d4d url(../vendor/images/noise-pattern.png) repeat;
}
.statistics hr {
    background: #fff;
    border:none;
}
hr.horizontal {
    width: 4rem;
    height: 0.25rem;
    margin: 0.75rem auto 2rem;
}
.stats-list-wrapper {
    position: relative;
}
hr.vertical {
    position: absolute;
    display: block;
    height: 100%;
    width: 0.09rem;
    top: 0;
    left: 50%;
}
.stats-list {
    display: flex;
    flex-flow: column nowrap;
    font-size: 0.84rem;
    font-weight: 700;
}
.stats-list li {
    display: flex;
    align-items: baseline;
    margin: 0.4rem 0;
}
.stats-list li:first-of-type {
    margin-top: 0;
}
.stats-list li:last-of-type {
    margin-bottom: 0;
}
.stats-list li h3,
.stats-list li p {
    flex: 50%;
}
.stats-list li h3 {
    text-align: right;
    font-variant: small-caps;
    padding-right: 0.75rem;
}
.stats-list li p {
    padding-left: 0.75rem;
}

/* contact section */
.contact {
    color: #111;
    background-color: #fff;
    background: #fff url(../vendor/images/noise-pattern.png) repeat;
}
.contact hr {
    background: #111;
    border:none;
}
.form-wrapper {

}
form {
    display: flex;
    flex-flow: row wrap;
}
.form-section {
    flex: 100%;

    display: flex;
    flex-flow: row wrap;
}
.form-section:last-of-type {
    justify-content: flex-end;
}
@media (min-width: 360px) {
    .form-section {
        flex: 0 0 88%;
        margin-left: auto;
        margin-right: auto;
    }
}
@media (min-width: 576px) {
    .form-section {
        flex-basis: 80%;
    }
}
@media (min-width: 768px) {
    .form-section {
        flex-basis: 68%;
    }
}
@media (min-width: 992px) {
    .form-section {
        flex-basis: 50%;
    }
    .form-section.inputs {
        align-content: space-between;
    }
    .form-section .form-group {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .form-section:last-of-type {
        flex-basis: 100%;
        justify-content: center;
        margin-top: 1rem;
    }
}
@media (min-width: 1200px) {
    .form-section .form-group {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}
.form-group {
    position: relative;
    margin-bottom: 1.5rem;
}
.inputs .form-group {
    flex: 100%;
}
.textarea .form-group {
    flex: 100%;
}
.form-control,
.form-control-placeholder {
    display: block;
    top: 0;
    left: 0;
    font-size: 1rem;
    padding: 0.25rem;
}
.form-control {
    position: relative;
    z-index: 2;
    width: 100%;
    border: none;
    border-bottom: 0.15rem solid #111;
    background-color: transparent;

    outline: none !important;
    box-shadow: none !important;
}
.form-control-placeholder {
    position: absolute;
    font-variant: small-caps;
    opacity: 0.6;
    transition: all 0.3s ease-in;
}
.form-control:focus,
.form-control:valid {
    border-color: #3e96cf;
}
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    color: #3e96cf;
}
/*.form-control:invalid {
    border-color: #dd4d4d;
}
.form-control:invalid + .form-control-placeholder {
    color: #dd4d4d;
}*/
.form-control:focus + .form-control-placeholder,
.form-control:valid + .form-control-placeholder {
    font-size: 90%;
    padding: 0;
    transform: translate3d(0, -80%, 0);
    opacity: 1;
}
.btn-submit {
    padding: 0.5rem 1.5rem;
    background-color: #3e96cf;
    color: #fff;
    font-size: 1.1rem;
    font-variant: small-caps;
    line-height: 1.5;
    border-radius: 2rem;
    cursor: pointer;
}
.btn-submit,
.btn-submit:active,
.btn-submit:hover:active,
.btn-submit:focus:active {
    background-color: #3e96cf;
    background: #3e96cf url(../vendor/images/noise-pattern.png) repeat;
}
.btn-submit:hover,
.btn-submit:focus {
    background-color: #92d2fc;
    background: #92d2fc url(../vendor/images/noise-pattern.png) repeat;
}

/* General Footer */
footer {
    padding: 2rem 1.5rem;
    background-color: #111;
    background: #111 url(../vendor/images/noise-pattern.png) repeat;
    color: #fff;
    text-align: center;
}
footer a {
    font-weight: 700;
}

/* GENERAL BANNER */
.banner {
    position: relative;
    height: 440px;
    max-height: 100%;
}
@media (orientation: landscape) {
    .banner {
        height: 360px;
    }
}
.banner-image,
.banner-shade,
.banner-text {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.banner-shade {
    background: #dd4d4ddd;
}
.banner-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    padding: 1rem 1.25rem 2.5rem;
}
.banner-text h2 {
    font-family: 'Quicksand', sans-serif;
}
.banner-text h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.15rem;
}
.banner-text hr {
    background: #fff;
    border: none;
    margin-bottom: 0.75rem;
}

/* BIO PAGE */
.bio-banner .banner-image {
    background: url(../images/samuel_edem__bio_hero.jpg) center 36% no-repeat fixed;
    background-size: cover;
}
.bio-banner .banner-text {
    padding-top: 6rem;
}
.bio-banner .banner-shade {
    background-color: #dd4d4dcc;
}

/* LOOK BOOK PAGE */
.portfolio-banner .banner-image {
    background: url(../images/samuel_edem__lookbook_hero.jpg) center center no-repeat fixed;
    background-size: cover;
}
.portfolio-banner .banner-text {
    padding-top: 6rem;
}
.portfolio-banner .banner-text h3 a,
.portfolio-banner .banner-text h3 a:focus {
    font-weight: 700;
    color: #fbd232;
    border-bottom: 0.2rem dotted #fbd232;
}
.portfolio-banner .banner-text h3 a:hover {
    color: #3e96cf;
    border-bottom-color: #3e96cf;
    transition: all 0.3s ease-in;
}
.portfolio__gallery {
    background-color: #fff;
    background: #fff url(../vendor/images/noise-pattern.png) repeat;
}
/* for styling macy objects */
#masonry-gallery::before,
#masonry-gallery::after {
    content: "";
    display: table;
    clear: both;
}
#masonry-gallery div {
    margin-bottom: 8px;
    border-radius: 4px;
    overflow: hidden;
    background: #adadad;
}
/* for styling baguetteBox objects */
#baguetteBox-overlay .full-image figcaption {
    /*background-color: #111c;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 700;*/
    display: none;
}

/* BLOG PAGE */
.blog-banner .banner-image {
    background: url(../images/samuel_edem__bio_hero.jpg) center 36% no-repeat fixed;
    background-size: cover;
}
.blog-banner .banner-text {
    padding-top: 6rem;
}
.blog-banner .banner-shade {
    background-color: #dd4d4dcc;
}
